<div class="ds-section-header" [class.ds-section-header--divider]="divider()">
  <div class="ds-section-header__text">
    <div class="ds-section-header__title-row">
      @if (icon()) {
        <mat-icon class="ds-section-header__icon" aria-hidden="true">{{ icon() }}</mat-icon>
      }
      @switch (level()) {
        @case (1) {
          <h1 class="ds-section-header__title ds-section-header__title--lvl1">{{ title() }}</h1>
        }
        @case (3) {
          <h3 class="ds-section-header__title ds-section-header__title--lvl3">{{ title() }}</h3>
        }
        @default {
          <h2 class="ds-section-header__title">{{ title() }}</h2>
        }
      }
    </div>
    @if (subtitle()) {
      <p class="ds-section-header__subtitle">{{ subtitle() }}</p>
    }
  </div>
  <div class="ds-section-header__action">
    <ng-content select="[ds-section-action]"></ng-content>
  </div>
</div>

