<header class="ds-page-header">
  <div class="ds-page-header__content">
    <div class="ds-page-header__breadcrumbs">
      <ng-content select="[ds-page-breadcrumbs]"></ng-content>
    </div>
    <div class="ds-page-header__main">
      <div class="ds-page-header__text">
        <div class="ds-page-header__title-row">
          @if (icon()) {
            <mat-icon class="ds-page-header__icon" aria-hidden="true">{{ icon() }}</mat-icon>
          }
          <h1 class="ds-page-header__title">{{ title() }}</h1>
        </div>
        @if (subtitle()) {
          <p class="ds-page-header__subtitle">{{ subtitle() }}</p>
        }
      </div>
    </div>
  </div>
  <div class="ds-page-header__actions">
    <ng-content select="[ds-page-actions]"></ng-content>
  </div>
</header>

