<h2 mat-dialog-title>{{ 'ABBREVIATIONS.EDIT_DIALOG_TITLE' | translate }}</h2>

<mat-dialog-content>
  <app-ds-text-field
    [label]="'ABBREVIATIONS.EDIT_DIALOG_RESOURCE_TYPE' | translate"
    [ngModel]="resourceType"
    [ngModelOptions]="{ standalone: true }"
    [disabled]="true" />

  <app-ds-text-field
    [label]="'ABBREVIATIONS.EDIT_DIALOG_DEFAULT' | translate"
    [ngModel]="defaultAbbreviation"
    [ngModelOptions]="{ standalone: true }"
    [disabled]="true" />

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-ds-text-field
      formControlName="abbreviation"
      [label]="'ABBREVIATIONS.EDIT_DIALOG_CUSTOM' | translate"
      [placeholder]="'ABBREVIATIONS.EDIT_DIALOG_PLACEHOLDER' | translate"
      [hint]="'ABBREVIATIONS.EDIT_DIALOG_HINT' | translate"
      [error]="
        form.controls.abbreviation.touched && form.controls.abbreviation.invalid
          ? ('ABBREVIATIONS.EDIT_DIALOG_HINT' | translate)
          : undefined
      " />
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button type="button" (click)="onCancel()">
    {{ 'ABBREVIATIONS.EDIT_DIALOG_CANCEL' | translate }}
  </button>
  <app-ds-button variant="primary" (clicked)="onSubmit()" [disabled]="form.invalid">
    {{ 'ABBREVIATIONS.EDIT_DIALOG_SAVE' | translate }}
  </app-ds-button>
</mat-dialog-actions>
