<div class="tab-content">
  <div class="env-description">
    <mat-icon class="env-description__icon">device_hub</mat-icon>
    <p>{{ 'RESOURCE_EDIT.USED_BY.DESCRIPTION' | translate }}</p>
  </div>

  @if (section().identityRoleAssignmentsError()) {
    <div class="feedback-banner feedback-banner--error" role="alert">
      <mat-icon>error_outline</mat-icon>
      {{ section().identityRoleAssignmentsError() | translate }}
    </div>
  }

  @if (section().identityRoleAssignmentsLoading()) {
    <div class="ra-loading">
      <app-ds-spinner size="lg" />
      <span>{{ 'RESOURCE_EDIT.USED_BY.LOADING' | translate }}</span>
    </div>
  } @else if (section().usedByResources().length === 0) {
    <div class="empty-state">
      <mat-icon class="empty-state__icon">device_hub</mat-icon>
      <p>{{ 'RESOURCE_EDIT.USED_BY.EMPTY' | translate }}</p>
    </div>
  } @else {
    <div class="uai-used-list">
      @for (group of section().usedByResources(); track group.sourceResourceId) {
        <div class="uai-used-row">
          <div class="uai-used-row__resource">
            <mat-icon class="uai-used-row__icon">{{ resourceTypeIcons[group.sourceResourceType] || 'widgets' }}</mat-icon>
            <div class="uai-used-row__info">
              <span class="uai-used-row__name">{{ group.sourceResourceName }}</span>
              <span class="uai-used-row__type">{{ group.sourceResourceType }}</span>
            </div>
          </div>

          @if (canWrite()) {
            <app-ds-button
              variant="ghost"
              icon="link_off"
              [appDsTooltip]="'RESOURCE_EDIT.USED_BY.UNLINK' | translate"
              (clicked)="section().openUnlinkResourceFromIdentityDialog(group)">
              {{ 'RESOURCE_EDIT.USED_BY.UNLINK' | translate }}
            </app-ds-button>
          }
        </div>
      }
    </div>
  }
</div>