// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.
@use "scss/main" as *;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$custom-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($custom-theme);
}

/* You can add global styles to this file, and also import other style files */
/* Fix Angular Material MDC notched-outline right border on floating labels */
.mdc-notched-outline__notch {
  border-right: none;
}

@layer base {
  html,body {
    overflow-x: initial !important;
    min-height: 100vh !important; /*possible to remove the height of the footer*/
    height: 100% !important;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
