<div
  class="ds-field"
  [class.ds-field--invalid]="!!error()"
  [class.ds-field--disabled]="disabledState()"
  [class.ds-field--focused]="focused()"
>
  @if (label()) {
    <label class="ds-field__label">
      {{ label() }}
      @if (required()) {
        <span class="ds-field__required">*</span>
      }
    </label>
  }
  <div class="ds-field__control">
    <mat-icon class="ds-field__icon ds-field__icon--prefix">lan</mat-icon>
    <input
      #inputEl
      type="text"
      class="ds-field__input"
      [placeholder]="placeholder()"
      [disabled]="disabledState()"
      [required]="required()"
      [value]="value()"
      autocomplete="off"
      inputmode="numeric"
      (input)="onInput($event)"
      (keydown)="onKeyDown($event)"
      (paste)="onPaste($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
    />
  </div>
  @if (error()) {
    <span class="ds-field__message ds-field__message--error">{{ error() }}</span>
  } @else if (hint()) {
    <span class="ds-field__message ds-field__message--hint">{{ hint() }}</span>
  }
</div>
