// Declaration des polices custom si necessaire.

/* Example
@font-face {
  font-family: 'TypoName';
  src: url('./../assets/typography/AlexBrush-Regular/AlexBrush-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
